/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html, * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  background-color: #AEAEAE;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0px;
}
body {
  text-align: center;
}

/* Text adjusments */

#about-me-div{
    color: #FFF;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
}

#about-me-desc{
    font-size: 20px;
    line-height: 1.6;
}

#hello-desc{
    color: #83F52C;
}

.highlighter {
    color: #83F52C;
}

.grey-highlighter {
    color: #FFFFFF;
    font-size: 16px;
    font-style: italic;
}

.circular {
	width: 250px;
	height: 250px;
    margin: auto;
    margin-top: 25px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(/assets/img/DSC_0487.jpg) no-repeat;
    background-size: cover;
    display: block;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
    z-index: 100;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.header-container {
    margin-right: auto;
    margin-left: auto;
}

/* Image placement under the name */
.bottom-img {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    height: 75px;
    width: 75px;
}

.bottom-img:hover {
    cursor: pointer;
    cursor: hand;
}

/* Padding for spacing */
.inner {
  padding: 20px;
}


/*
 * Header
 */

#header {
    background-color: rgba(0,0,0,0);
    z-index: 1;
}

.masthead-brand {
  margin-top: -5px;
  margin-bottom: 10px;
}

.masthead-brand:hover {
    cursor: pointer;
    cursor: hand;
}

.masthead-nav > li {
  display: inline-block;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 14px;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #83F52C;
  border-bottom-color: rgba(131,245,34,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #83F52C;
}

/* Handling each page section */

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/*
 * Cover
 */

.cover {
  padding: 0 10px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/* Individual Scrollable Pages */
.page-section {
	width: 100%;
	min-height: 800px;
	padding: 50px 0;
}
.page-section h1 {
	font-size: 4em;
	margin: 10px 0;
}
.page-section h1 span {
	font-weight: 200;
}

.page-section#about {
	background-color: #333;
}
.page-section#work {
    background-color: #333;
}
.page-section#skills {
    background-color: #333;
}
.page-section#contact {
    background-color: #333;
}
/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

.footer {
  text-align: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 50px;
}

.footer-img {
    margin: 10px;
    height: 50px;
    width: 50px;
}

.footer-img:hover {
    cursor: pointer;
    cursor: hand;
}

#img-twitter {
    content:url('/assets/img/twitter.png');  
}

#img-twitter:hover {
    content:url('/assets/img/twitter_f.png');
}

#img-facebook {
    content:url('/assets/img/facebook.png');  
}

#img-facebook:hover {
    content:url('/assets/img/facebook_f.png');
}

#img-gplus {
    content:url('/assets/img/gplus.png');  
}

#img-gplus:hover {
    content:url('/assets/img/gplus_f.png');
}

#img-in {
    content:url('/assets/img/in.png');  
}

#img-in:hover {
    content:url('/assets/img/in_f.png');
}

#img-insta {
    content:url('/assets/img/insta.png');  
}

#img-insta:hover {
    content:url('/assets/img/insta_f.png');
}

#img-github {
    content:url('/assets/img/git.png');  
}

#img-github:hover {
    content:url('/assets/img/git_f.png');
}

#img-email {
    content:url('/assets/img/mail.png');  
}

#img-email:hover {
    content:url('/assets/img/mail_f.png');
}

.phoneemail {
    font-size: 16px;
    color: #FFF;
}


/*
 * Affix and center
 */

@media (min-width : 320px) {
/* Styles */
    .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
    
    /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  .header-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  .cover-heading{
    font-size: 30px;
  }
    
  .bottom-img {
      
  }
    
  #hello-desc{
      font-size: 44px;
  }
  #about-me-desc{
      font-size: 16px;
  }
    
  .circular {
    height: 100px;
    width: 100px
  }
}

@media (min-width: 480px) {
   .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
    
    /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  .header-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  .cover-heading{
    font-size: 40px;
  }
    
  #hello-desc{
      font-size: 44px;
  }
  #about-me-desc{
      font-size: 16px;
  }
 .circular {
    height: 150px;
    width: 150px
  }
}

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  .header-container {
    width: 100%;
  }
  .cover-heading{
    font-size: 50px;
  }
  #hello-desc{
      font-size: 50px;
  }
  #about-me-desc{
      font-size: 18px;
  }
    
 .circular {
    height: 200px;
    width: 200px
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
  .header-container {
    width: 700px; /* Must be percentage or pixels for horizontal alignment */
  }
  .cover-heading{
    font-size: 60px;
  }
    
  #hello-desc{
      font-size: 60px;
  }
  #about-me-desc{
      font-size: 18px;
  }
  .circular {
    height: 250px;
    width: 250px
  }
 }
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline-img.cd-first {
  background: #83F52C;
}
.cd-timeline-img.cd-second {
  background: #FF6600;
}
.cd-timeline-img.cd-third {
  background: #F3F315;
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.5em;
  text-align: left;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
    font-size: 18px;
    color: #FFF;
}
.cd-timeline-content h3 {
    font-size: 14px;
    color: #EDEDED;
    font-style: italic;
    margin-top: -5px;
  }
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 14px;
  color: #F7F7F7;
}

.cd-date {
    color: #EDEDED;
    font-style: italic;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  line-height: 1.6;
}

.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .3em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
  }
  .cd-timeline-content h3 {
    font-size: 14px;
  }
  .cd-timeline-content p {
    font-size: 16px;
    color: #F7F7F7;
  }
  .cd-timeline-content .cd-date {
    color: #EDEDED;
    font-style: italic;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }

  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 10px;
    font-size: 18px;
    color: #FFF;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
